@import "_reset";
@import "_fonts";
@import "_variables";
@import "_templates";
@import "_header";
@import "_promo";
@import "_logo";
@import "_works";
@import "_benefits";
@import "_house-list";
@import "_locations";
@import "_priority";
@import "_previewers";
@import "_post";
@import "_footer-main";
@import "_bottom";

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background-color: $bc-main;
	line-height: 150%;
	color: $c-main;
	max-width: $page;
	margin: 0 auto;
}

.material-icons {
	font-family: "Material Icons";
	vertical-align: -25%;
	padding-left: 5px;
	font-size: 20px;
	color: $c-2;
	line-height: 75%;
}

a {
	color: $c-2;
}
